NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/easy
JWT_SECRET=change-me-super-secret
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000
COOKIE_NAME=easy_token
UPLOAD_DIR=uploads

# WhatsApp Cloud API Config (Required for Forgot Password OTP)
WHATSAPP_ACCESS_TOKEN=EAAMkHmhZCRkYBQY4QtWtHBbgDZBBf9Vs5hONrOe4I6v8uUfYdsxFwS7C393Ex6AIoUCQUuyFSZCdsZBMR2RK6k9dpuKna97cSrAY2YZCng80AUjmYd5w2twyQCzoZBZCFhLBouhmecT8EUaHhDXuqTtziRQqm88D4cuVnVKC2NQVjf0xwvHfL5HjiZCrioLWE3WGK1syHG2qLDJ3QIxxxQthDRoMxFZBKsE120g2Rc4MQD54jojqU0ZB4IAjZBNEU0wuONkdF6VxUf1ZAOE2Ov597i3tccHG
WHATSAPP_PHONE_NUMBER_ID=964532476738783
